#about {
  width: 50%;
  display: inline-block;
  background-color: #c4dfaa;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

.aboutTitle {
  padding-top: 25px;
  padding-bottom: 15px;
}

.aboutP {
  padding: 25px;
}
