header {
  margin: 0;
  padding: 5px;
  background-color: #510653;
  color: white;
}

.websiteTitle {
  margin: 15px;
}

#basketicon{
 
  display: flex;
  justify-content: right;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#menuicon{
  background-color: white;
  border-radius: 9px;
  display: flex;
  justify-content: left;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 30px;
}