#drinkmenu{
padding: 10px;
padding-left: 550px;
padding-bottom: 0px;
display: flex;
justify-content: left;
}

.drink_btn{
  display: flex;
  justify-content: left;
  padding: 10px;
  padding-left: 550px;
  padding-top: 0px;
  width: 250px;
}

#drinks{
  width: 250px;
  height: 75px;
  cursor: pointer;
  background-color: black;
  color: white;
}

#kidmenu{
  padding: 10px;
  padding-left: 550px;
  padding-bottom: 0px;
  display: flex;
  justify-content: left;
  }
  
  .kids_btn{
    display: flex;
    justify-content: left;
    padding: 10px;
    padding-left: 550px;
    padding-top: 0px;
    width: 250px;
  }
  
  #kidsmenu{
    width: 250px;
    height: 75px;
    cursor: pointer;
    background-color: black;
    color: white;
  }

  #dessertmenu{
    padding: 10px;
    padding-left: 550px;
    padding-bottom: 0px;
    display: flex;
    justify-content: left;
    }
    
    .dessert_btn{
      display: flex;
      justify-content: left;
      padding: 10px;
      padding-left: 550px;
      padding-top: 0px;
      width: 250px;
    }
    
    #dessert{
      width: 250px;
      height: 75px;
      cursor: pointer;
      background-color: black;
      color: white;
    }

    #mains{
      padding: 10px;
      padding-bottom: 0px;
      padding-right: 550px;
      display: flex;
      justify-content: left;
      position: absolute;
      top: 100px;
      right: 0px;
      }
      
      .menu_btn{
        display: flex;
        justify-content: right;
        padding-right: 550px;
        padding: 10px;
        padding-top: 0px;
        width: 250px;
        
      }
      
      #mainmenu{
        width: 250px;
        height: 75px;
        cursor: pointer;
        background-color: black;
        color: white;
        position: absolute;
        top: 430px;
        right: 550px;
      }


      #barmenu{
        padding: 10px;
        padding-right: 550px;
        padding-bottom: 0px;
        display: flex;
        justify-content: left;
        position: absolute;
        top: 515px;
        right: 0px;
        }
        
        .snack_btn{
          display: flex;
          justify-content: left;
          padding: 10px;
          padding-top: 0px;
          width: 250px;
        }
        
        #barsnacks{
          width: 250px;
          height: 75px;
          cursor: pointer;
          background-color: black;
          color: white;
          position: absolute;
          top: 845px;
          right: 550px;
        }

        #breakfastmenu{
          padding: 10px;
          padding-right: 550px;
          padding-bottom: 0px;
          display: flex;
          justify-content: left;
          position: absolute;
          top: 930px;
          right: 0px;
          }
          
          .breakfast_btn{
            display: flex;
            justify-content: left;
            padding: 10px;
            padding-top: 0px;
            width: 250px;
          }
          
          #breakfast{
            width: 250px;
            height: 75px;
            cursor: pointer;
            background-color: black;
            color: white;
            position: absolute;
            top: 1260px;
            right: 550px;
          }